__pycache__/
*.DS_Store
.VSCodeCounter
logs
game_sample/gen_games
game_sample/gen_agents
game_sample/excel
game_archive/
gen_games/
gen_agents/
game_sample/gen_stage_system_prompt
game_sample/gen_actor_system_prompt
game_sample/gen_world_system_prompt
game_sample/gen_system_prompt_templates
gen_configs/
gen_worlds/
gen_runtimes/