__pycache__/
*.DS_Store
logs
game_sample/gen_stage_sys_prompt
game_sample/gen_games
game_sample/gen_actor_sys_prompt
game_sample/gen_world_sys_prompt
game_sample/gen_agents
game_sample/gen_sys_prompt_templates
game_sample/excel
.VSCodeCounter
game_archive/
gen_games/
gen_agents/