__pycache__/
*.DS_Store
logs
game_sample/gen_stage_sys_prompt
game_sample/gen_runtimes
game_sample/gen_actor_sys_prompt
game_sample/gen_world_sys_prompt
game_sample/gen_agent
game_sample/gen_sys_prompt_templates
.VSCodeCounter
game_archive/